<h1>Welcome to Node TODO App</h1>
<form action="/quotes" method="POST">
    <input placeholder="name" name="name" />
    <input placeholder="quote" name="quote" />
    <button type="submit">Submit</button>
</form>
<div class="table-content">
    <p>{{data.name}} {{data.quote}}</p>
</div>
