<!doctype html>
<html>
<head>
 <title>Meadowlark Travel</title>
</head>
<body>
    <header>
        <img src="/img/background.jpg" alt="image">
    </header>
    <h1>Layout</h1>
{{{ body }}}
</body>
</html>